<div class="container">
    <h1 class="mt-5 mb-4 text-center">¡Explora Imágenes Aleatorias!</h1>
    <div id="carouselExampleIndicators" class="carousel slide mb-5" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://source.unsplash.com/random/?sig=3" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://source.unsplash.com/random/?sig=1" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://source.unsplash.com/random/?sig=2" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
      </button>
    </div>
    
    <div class="card">
        <img src="https://source.unsplash.com/random/?sig=6" class="card-img-top img-fluid mx-auto d-block" alt="...">
        <div class="card-body">
          <h5 class="card-title">Imagen aleatoria 1</h5>
          <p class="card-text">Puedes ver mas imagenes aleatoria :D</p>
          <a href="#" class="btn btn-primary">Ver más</a>
        </div>
      </div>
      <div class="card">
        <img src="https://source.unsplash.com/random/?sig=7" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Imagen aleatoria 2</h5>
          <p class="card-text">este es la segunda Imagen aleatoria, puedes ver mas iamgenes abajo</p>
          <a href="#" class="btn btn-primary">Ver más</a>
        </div>
      </div>
      
      <div class="card">
        <img src="https://source.unsplash.com/random/?sig=8" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Imagen aleatoria 3</h5>
          <p class="card-text">este es la tercera iamgen aleatoria abajo hay un poco mas</p>
          <a href="#" class="btn btn-primary">Ver más</a>
        </div>
      </div>
      
    </div>
  
    <hr class="mt-5">
  
    <div class="mt-5">
      <h2 class="text-center">Otras Imagenes Aleatorias</h2>
      <div class="row mt-4">
        <div class="col-md-6">
          <h3>Sección 1</h3>
          <p>Esta es la ultima seccion de imagenes aleatoria</p>
          <img src="https://source.unsplash.com/random/?sig=6" alt="Imagen de ejemplo" class="img-fluid mt-3">
        </div>
        <div class="col-md-6">
          <h3>Sección 2</h3>
          <p>esa la ultima seccion de imagenes aleatoria</p>
          <img src="https://source.unsplash.com/random/?sig=5" alt="Imagen de ejemplo" class="img-fluid mt-3">
          
        </div>
      </div>
    </div>
  
    <hr>
  
    <div class="mt-5">
      <h2 class="text-center">No olvides venir a esta pagina siempre</h2>
      <p class="lead text-center">cada que refresques la pagina se generan imagenes aleatoria no lo olvides y copia o descarga la imagen y no la pierdas</p>
    <div class="mt-5">
  <style>
    .carousel-item img {
      height: 300px;
      object-fit: cover;

    }
    .card-item img{
        width: 200px;
        height: 150px;
    }
  </style>
  
  